body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
.card {
  margin: 50px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #007bff;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-body {
  padding: 20px;
}
.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.info-label {
  font-weight: bold;
  color: #555;
}
.info-value {
  color: #333;
}

.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    background-color: #333;
    color: white;
}